/bin
/build
/current data generator.ipynb
/current_GUI_online.spec
/current_GUI_test.py
/dist
/test
/test.py
/test001
/test2020_1103_01
/__pycache__
/~$中華機台型號_IP.xlsx
/中華機台型號_IP.xlsx
/取回測試.ipynb
/測試資料1.txt
/程式測試與執行須知.txt
/輸入資料.txt
/電流異常偵測-GUI架構.pptx